node_modules
templates
*.log*
.cache
.output
.env
package-lock.json
# IntelliJ
*.iml
.idea/

.gitconfig

/vendor/
/test-results/
/playwright-report/
/playwright/.cache/
test/e2e/example.spec.js
tests-examples/demo-todo-app.spec.js
*.zip
